body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    width: 600px;
    border: 2px solid black;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
}
#header h1 {
    color: blue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    margin-top: 10px;
}
input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 2px solid black;
    border-radius: 5px;
}
#toDo {
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    width: 250px;
}
ul{
    list-style: square;
    padding: 0px;
    font-size: 18px;
}
li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: ghostwhite;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
li button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color:blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 80px;
    margin: 10px;
}
li button:hover {
    background-color: rgb(43, 101, 226);
}
button {
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color:blue;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    margin-left: 5px;
}
button:hover {
    background-color: rgb(43, 101, 226);
}
